venv/*

*~

*tl_2014*
*gSSURGO*

*.shp
*.dbf
*.shx
*.tif
*.png
*.mat
*.pyc
*.zip
*.bak
*.csv
*.pickle
*.nc

dynamic_data
dynamic_data/*
output
output/*
database_scripts/temp_query/*
server_functions/*

*log.txt
*.log